{
  "documentId": "dc5444c808ff63a426558da9",
  "assets_directory": "urdf/bumperbot_v02/meshes/",
  "output_format": "urdf",
  "package_name": "bumperbot_description",
  "robot_name": "bumperbot",
  "assembly_name": "bumperbot_v2",
  "export_stl_with_meters": true,
  "set_zero_mass_to_fixed": false,
  // Ignore limits (default: false, if set true, joint limits will be ignored)
  "ignore_limits": true,
  // "default_joint_type": "continuous",
  "mesh_output_format": "gltf",
  "joint_properties": {
    "wheel_right_joint": {
      "type": "continuous",
      "axis": [
        0,
        1,
        0
      ]
    },
    "wheel_left_joint": {
      "type": "continuous",
      "axis": [
        0,
        1,
        0
      ]
    }
  }
}