Diagnostics:
  UnusedIncludes: None
  ClangTidy:
    Add: [bugprone-*, modernize-*, performance-*]
    # We remove this specific check because it forces an ugly function syntax
    Remove: [modernize-use-trailing-return-type]

InlayHints:
  DeducedTypes: Yes
  ParameterNames: No