{
  "documentId": "6c3ccb78c3fb44a0bd1989e4",
  "assets_directory": "meshes",
  "output_format": "sdf",
  "package_name": "core_gazebo",
  "robot_name": "maze_world",
  "assembly_name": "maze_world",
  "export_stl_with_meters": true,
  "ignore_limits": true,
  "mesh_output_format": "dae",
  "set_zero_mass_to_fixed": true,
  "simplifyMeshes": "collada",
  "noDataDir": true
}