<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="imu_tf_visualizer">

  <link name="world"/>

  <link name="imu_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://imu_tf_visualizer/meshes/flight.gltf" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
  </link>

  <joint name="world_to_imu_joint" type="fixed">
    <parent link="world"/>
    <child link="imu_link"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

</robot>
