{
    "documentId": "f319bd124de4579be6a3665e",
    "assets_directory": "meshes/inverted_pendulum",
    "output_format": "urdf",
    "package_name": "core_description",
    "robot_name": "inverted_pendulum",
    "assembly_name": "inverted_pendulum",
    "export_stl_with_meters": true,
    "set_zero_mass_to_fixed": false,
    // Ignore limits (default: false, if set true, joint limits will be ignored)
    "ignore_limits": false,
    "default_joint_type": "continuous",
    "mesh_output_format": "stl",
    "joint_properties": {
        "dof_rod_base_joint": {
            "type": "fixed"
        },
        "dof_sensor_rotor_joint": {
            "type": "continuous"
        },
        "dof_slider_joint": {
            "type": "prismatic",
            "limit": {
                "lower": -0.65,
                "upper": 0.65
            }
        },
        "dof_weight_joint": {
            "type": "fixed"
        }
    }
}