{
  "documentId": "efcccd1dc7a5e6be06e0f157",
  "assets_directory": "meshes/motor_testbench",
  "output_format": "urdf",
  "package_name": "core_description",
  "robot_name": "motor_testbench",
  "assembly_name": "motor_testbench",
  "export_stl_with_meters": true,
  "set_zero_mass_to_fixed": false,
  // Ignore limits (default: false, if set true, joint limits will be ignored)
  "ignore_limits": true,
  "default_joint_type": "continuous",
  "mesh_output_format": "stl",
  "joint_properties": {
      
  }
}