<?xml version="1.0" ?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:property name="caster_z_offset" value="-0.005237682" />
<!-- -0.005237682 -->
  <link name="base_footprint"/>
  <joint name="base_footprint_joint" type="fixed">
    <parent link="base_footprint"/>
    <child link="base_link"/>
    <origin xyz="0 0 ${base_footprint_to_base_link_z}"/>
  </joint>
  
<!-- Link base_link -->
  <link name="base_link">
    <xacro:box_inertia m="${base_mass}" x="${base_length}" y="${base_width}" z="${base_height}" o_xyz="0 0 ${base_height/2}" o_rpy="0 0 0"/>
    <!-- Part spacer_hex -->
    <visual>
      <origin xyz="-0.064 0.024 0.0434998" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://bumperbot_description/meshes/spacer_hex.gltf"/>
      </geometry>
      <material name="spacer_hex_material">
        <color rgba="0.980392 0.796078 0.262745 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.064 0.024 0.0434998" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://bumperbot_description/meshes/spacer_hex.gltf"/>
      </geometry>
    </collision>
    <!-- Part spacer_hex_2 -->
    <visual>
      <origin xyz="0.024 0.064 0.0434998" rpy="0 -0 0.523599"/>
      <geometry>
        <mesh filename="package://bumperbot_description/meshes/spacer_hex.gltf"/>
      </geometry>
      <material name="spacer_hex_2_material">
        <color rgba="0.980392 0.796078 0.262745 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.024 0.064 0.0434998" rpy="0 -0 0.523599"/>
      <geometry>
        <mesh filename="package://bumperbot_description/meshes/spacer_hex.gltf"/>
      </geometry>
    </collision>
    <!-- Part spacer_hex_3 -->
    <visual>
      <origin xyz="-0.064 -0.012 0.0434998" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://bumperbot_description/meshes/spacer_hex.gltf"/>
      </geometry>
      <material name="spacer_hex_3_material">
        <color rgba="0.980392 0.796078 0.262745 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.064 -0.012 0.0434998" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://bumperbot_description/meshes/spacer_hex.gltf"/>
      </geometry>
    </collision>
    <!-- Part spacer_hex_4 -->
    <visual>
      <origin xyz="-0.024 -0.064 0.0434998" rpy="0 -0 0.523599"/>
      <geometry>
        <mesh filename="package://bumperbot_description/meshes/spacer_hex.gltf"/>
      </geometry>
      <material name="spacer_hex_4_material">
        <color rgba="0.980392 0.796078 0.262745 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.024 -0.064 0.0434998" rpy="0 -0 0.523599"/>
      <geometry>
        <mesh filename="package://bumperbot_description/meshes/spacer_hex.gltf"/>
      </geometry>
    </collision>
    <!-- Part spacer_hex_5 -->
    <visual>
      <origin xyz="0.064 0.012 0.0434998" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://bumperbot_description/meshes/spacer_hex.gltf"/>
      </geometry>
      <material name="spacer_hex_5_material">
        <color rgba="0.980392 0.796078 0.262745 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.064 0.012 0.0434998" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://bumperbot_description/meshes/spacer_hex.gltf"/>
      </geometry>
    </collision>
    <!-- Part base_plate_right -->
    <visual>
      <origin xyz="0 0 0.037" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://bumperbot_description/meshes/base_plate_right.gltf"/>
      </geometry>
      <material name="base_plate_right_material">
        <color rgba="0.117647 0.117647 0.117647 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0.037" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://bumperbot_description/meshes/base_plate_right.gltf"/>
      </geometry>
    </collision>
    <!-- Part spacer_hex_6 -->
    <visual>
      <origin xyz="0.064 -0.024 0.0434998" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://bumperbot_description/meshes/spacer_hex.gltf"/>
      </geometry>
      <material name="spacer_hex_6_material">
        <color rgba="0.980392 0.796078 0.262745 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.064 -0.024 0.0434998" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://bumperbot_description/meshes/spacer_hex.gltf"/>
      </geometry>
    </collision>
    <!-- Part base_plate_left -->
    <visual>
      <origin xyz="0 0 0.037" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://bumperbot_description/meshes/base_plate_left.gltf"/>
      </geometry>
      <material name="base_plate_left_material">
        <color rgba="0.117647 0.117647 0.117647 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0.037" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://bumperbot_description/meshes/base_plate_left.gltf"/>
      </geometry>
    </collision>
    <!-- Part base_plate_right_2 -->
    <visual>
      <origin xyz="0 0 0.074" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://bumperbot_description/meshes/base_plate_right.gltf"/>
      </geometry>
      <material name="base_plate_right_2_material">
        <color rgba="0.117647 0.117647 0.117647 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0.074" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://bumperbot_description/meshes/base_plate_right.gltf"/>
      </geometry>
    </collision>
    <!-- Part base_plate_left_2 -->
    <visual>
      <origin xyz="0 0 0.074" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://bumperbot_description/meshes/base_plate_left.gltf"/>
      </geometry>
      <material name="base_plate_left_2_material">
        <color rgba="0.117647 0.117647 0.117647 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0.074" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://bumperbot_description/meshes/base_plate_left.gltf"/>
      </geometry>
    </collision>
    <!-- Part spacer_hex_7 -->
    <visual>
      <origin xyz="-0.064 0.024 0.0064998" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://bumperbot_description/meshes/spacer_hex.gltf"/>
      </geometry>
      <material name="spacer_hex_7_material">
        <color rgba="0.980392 0.796078 0.262745 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.064 0.024 0.0064998" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://bumperbot_description/meshes/spacer_hex.gltf"/>
      </geometry>
    </collision>
    <!-- Part motor_bracket_left -->
    <visual>
      <origin xyz="0 0.0482736 0.0089998" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://bumperbot_description/meshes/motor_bracket_left.gltf"/>
      </geometry>
      <material name="motor_bracket_left_material">
        <color rgba="0.262745 0.282353 0.301961 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0.0482736 0.0089998" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://bumperbot_description/meshes/motor_bracket_left.gltf"/>
      </geometry>
    </collision>
    <!-- Part motor_bracket_right -->
    <visual>
      <origin xyz="-0 -0.0482736 0.0089998" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://bumperbot_description/meshes/motor_bracket_right.gltf"/>
      </geometry>
      <material name="motor_bracket_right_material">
        <color rgba="0.262745 0.282353 0.301961 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0 -0.0482736 0.0089998" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://bumperbot_description/meshes/motor_bracket_right.gltf"/>
      </geometry>
    </collision>
    <!-- Part actuatordc_left -->
    <visual>
      <origin xyz="0 0.0667736 0.0239998" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://bumperbot_description/meshes/actuatordc_left.gltf"/>
      </geometry>
      <material name="actuatordc_left_material">
        <color rgba="0.647059 0.647059 0.647059 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0.0667736 0.0239998" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://bumperbot_description/meshes/actuatordc_left.gltf"/>
      </geometry>
    </collision>
    <!-- Part spacer_hex_8 -->
    <visual>
      <origin xyz="0.024 0.064 0.0064998" rpy="0 -0 0.523599"/>
      <geometry>
        <mesh filename="package://bumperbot_description/meshes/spacer_hex.gltf"/>
      </geometry>
      <material name="spacer_hex_8_material">
        <color rgba="0.980392 0.796078 0.262745 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.024 0.064 0.0064998" rpy="0 -0 0.523599"/>
      <geometry>
        <mesh filename="package://bumperbot_description/meshes/spacer_hex.gltf"/>
      </geometry>
    </collision>
    <!-- Part actuatordc_right -->
    <visual>
      <origin xyz="-0 -0.0667736 0.0239998" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://bumperbot_description/meshes/actuatordc_right.gltf"/>
      </geometry>
      <material name="actuatordc_right_material">
        <color rgba="0.647059 0.647059 0.647059 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0 -0.0667736 0.0239998" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://bumperbot_description/meshes/actuatordc_right.gltf"/>
      </geometry>
    </collision>
    <!-- Part spacer_hex_9 -->
    <visual>
      <origin xyz="-0.064 -0.012 0.0064998" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://bumperbot_description/meshes/spacer_hex.gltf"/>
      </geometry>
      <material name="spacer_hex_9_material">
        <color rgba="0.980392 0.796078 0.262745 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.064 -0.012 0.0064998" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://bumperbot_description/meshes/spacer_hex.gltf"/>
      </geometry>
    </collision>
    <!-- Part spacer_hex_10 -->
    <visual>
      <origin xyz="-0.024 -0.064 0.0064998" rpy="0 -0 0.523599"/>
      <geometry>
        <mesh filename="package://bumperbot_description/meshes/spacer_hex.gltf"/>
      </geometry>
      <material name="spacer_hex_10_material">
        <color rgba="0.980392 0.796078 0.262745 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.024 -0.064 0.0064998" rpy="0 -0 0.523599"/>
      <geometry>
        <mesh filename="package://bumperbot_description/meshes/spacer_hex.gltf"/>
      </geometry>
    </collision>
    <!-- Part spacer_hex_11 -->
    <visual>
      <origin xyz="0.064 0.012 0.0064998" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://bumperbot_description/meshes/spacer_hex.gltf"/>
      </geometry>
      <material name="spacer_hex_11_material">
        <color rgba="0.980392 0.796078 0.262745 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.064 0.012 0.0064998" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://bumperbot_description/meshes/spacer_hex.gltf"/>
      </geometry>
    </collision>
    <!-- Part base_plate_right_3 -->
    <visual>
      <origin xyz="0 0 0" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://bumperbot_description/meshes/base_plate_right.gltf"/>
      </geometry>
      <material name="base_plate_right_3_material">
        <color rgba="0.117647 0.117647 0.117647 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://bumperbot_description/meshes/base_plate_right.gltf"/>
      </geometry>
    </collision>
    <!-- Part spacer_hex_12 -->
    <visual>
      <origin xyz="0.064 -0.024 0.0064998" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://bumperbot_description/meshes/spacer_hex.gltf"/>
      </geometry>
      <material name="spacer_hex_12_material">
        <color rgba="0.980392 0.796078 0.262745 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.064 -0.024 0.0064998" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://bumperbot_description/meshes/spacer_hex.gltf"/>
      </geometry>
    </collision>
    <!-- Part base_plate_left_3 -->
    <visual>
      <origin xyz="0 0 0" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://bumperbot_description/meshes/base_plate_left.gltf"/>
      </geometry>
      <material name="base_plate_left_3_material">
        <color rgba="0.117647 0.117647 0.117647 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://bumperbot_description/meshes/base_plate_left.gltf"/>
      </geometry>
    </collision>

    <!-- Part raspberry_pi_5 -->
    <visual>
      <origin xyz="0.025 0 0.046" rpy="0 0 1.5708"/>
      <geometry>
        <mesh filename="package://bumperbot_description/meshes/raspberry_pi_5.gltf"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.025 0 0.046" rpy="0 0 1.5708"/>
      <geometry>
        <mesh filename="package://bumperbot_description/meshes/raspberry_pi_5.gltf"/>
      </geometry>
    </collision>

    <!-- Part l298n -->
    <visual>
      <origin xyz="-0.03 0 0.046" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://bumperbot_description/meshes/l298n.gltf"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.03 0 0.046" rpy="0 0 1.5708"/>
      <geometry>
        <mesh filename="package://bumperbot_description/meshes/l298n.gltf"/>
      </geometry>
    </collision>

  </link>

  <!-- Link caster_front_link -->
  <link name="caster_front_link">
    <xacro:sphere_inertia m="${caster_mass}" r="${caster_radius}" o_xyz="0 0 0" o_rpy="0 0 0"/>
    <!-- Part caster_ball -->
    <visual>
      <origin xyz="0 0 -0" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://bumperbot_description/meshes/caster_ball.stl"/>
      </geometry>
      <material name="caster_ball_material">
        <color rgba="0.917647 0.917647 0.917647 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 -0" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://bumperbot_description/meshes/caster_ball.stl"/>
      </geometry>
    </collision>
    <!-- Part caster_frame -->
    <visual>
      <origin xyz="0 0 0" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://bumperbot_description/meshes/caster_frame.stl"/>
      </geometry>
      <material name="caster_frame_material">
        <color rgba="0.262745 0.282353 0.301961 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://bumperbot_description/meshes/caster_frame.stl"/>
      </geometry>
    </collision>
  </link>

  <!-- Joint from base_link to caster_front_link -->
  <joint name="caster_front_joint" type="fixed">
    <origin xyz="0.0480264 -0 ${caster_z_offset}" rpy="0 -0 0"/> 
    <parent link="base_link"/>
    <child link="caster_front_link"/>
  </joint>
  <!-- Link caster_rear_link -->
  <link name="caster_rear_link">
    <xacro:sphere_inertia m="${caster_mass}" r="${caster_radius}" o_xyz="0 0 0" o_rpy="0 0 0"/>
    <!-- Part caster_ball_2 -->
    <visual>
      <origin xyz="0 0 -0" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://bumperbot_description/meshes/caster_ball.stl"/>
      </geometry>
      <material name="caster_ball_2_material">
        <color rgba="0.917647 0.917647 0.917647 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 -0" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://bumperbot_description/meshes/caster_ball.stl"/>
      </geometry>
    </collision>
    <!-- Part caster_frame_2 -->
    <visual>
      <origin xyz="0 0 0" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://bumperbot_description/meshes/caster_frame.stl"/>
      </geometry>
      <material name="caster_frame_2_material">
        <color rgba="0.262745 0.282353 0.301961 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://bumperbot_description/meshes/caster_frame.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- Joint from base_link to caster_rear_link -->
  <joint name="caster_rear_joint" type="fixed">
    <origin xyz="-0.0480264 -0 ${caster_z_offset}" rpy="0 -0 0"/>
    <parent link="base_link"/>
    <child link="caster_rear_link"/>
  </joint>
  <!-- Link wheel_left_link -->
  <link name="wheel_left_link">
    <xacro:cylinder_inertia m="${wheel_mass}" r="${wheel_radius}" h="${wheel_width}" o_xyz="0 0 0" o_rpy="1.5708 0 0"/>
    <!-- Part rim_l -->
    <visual>
      <origin xyz="0 0 0" rpy="-0 0 -0"/>
      <geometry>
        <mesh filename="package://bumperbot_description/meshes/rim_l.stl"/>
      </geometry>
      <material name="rim_l_material">
        <color rgba="0 0.501961 1 1"/>
      </material>
    </visual>
    <!-- <collision>
      <origin xyz="0 0 0" rpy="-0 0 -0"/>
      <geometry>
        <mesh filename="package://bumperbot_description/meshes/rim_l.stl"/>
      </geometry>
    </collision> -->
    <!-- Part tire_l -->
    <visual>
      <origin xyz="0 0 0" rpy="-0 0 -0"/>
      <geometry>
        <mesh filename="package://bumperbot_description/meshes/tire_l.stl"/>
      </geometry>
      <material name="tire_l_material">
        <color rgba="0.156863 0.156863 0.156863 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="-0 -0 0"/>
      <geometry>
        <sphere radius="${wheel_radius}" />
      </geometry>
    </collision>
    <!-- <collision>
      <origin xyz="0 0 0" rpy="-0 0 -0"/>
      <geometry>
        <mesh filename="package://bumperbot_description/meshes/tire_l.stl"/>
      </geometry>
    </collision> -->
    <!-- Part hexcoupler_l -->
    <visual>
      <origin xyz="0 0 0" rpy="-0 0 -0"/>
      <geometry>
        <mesh filename="package://bumperbot_description/meshes/hexcoupler_l.stl"/>
      </geometry>
      <material name="hexcoupler_l_material">
        <color rgba="1 0.870588 0.529412 1"/>
      </material>
    </visual>
    <!-- <collision>
      <origin xyz="0 0 0" rpy="-0 0 -0"/>
      <geometry>
        <mesh filename="package://bumperbot_description/meshes/hexcoupler_l.stl"/>
      </geometry>
    </collision> -->
  </link>
  <!-- Joint from base_link to wheel_left_link -->
  <joint name="wheel_left_joint" type="continuous">
    <origin xyz="0 0.087 0.0239998" rpy="0 -0 0"/>
    <parent link="base_link"/>
    <child link="wheel_left_link"/>
    <axis xyz="0 1 0"/>
    <!-- <limit effort="10" velocity="10"/> -->
  </joint>
  <!-- Link wheel_right_link -->
  <link name="wheel_right_link">
    <xacro:cylinder_inertia m="${wheel_mass}" r="${wheel_radius}" h="${wheel_width}" o_xyz="0 0 0" o_rpy="1.5708 0 0"/>
    <!-- Part tire_r -->
    <visual>
      <origin xyz="0 0 0" rpy="-0 -0 0"/>
      <geometry>
        <mesh filename="package://bumperbot_description/meshes/tire_r.stl"/>
      </geometry>
      <material name="tire_r_material">
        <color rgba="0.156863 0.156863 0.156863 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="-0 -0 0"/>
      <geometry>
        <sphere radius="${wheel_radius}" />
      </geometry>
    </collision>
    <!-- Part rim_r -->
    <visual>
      <origin xyz="0 0 0" rpy="-0 -0 0"/>
      <geometry>
        <mesh filename="package://bumperbot_description/meshes/rim_r.stl"/>
      </geometry>
      <material name="rim_r_material">
        <color rgba="0 0.501961 1 1"/>
      </material>
    </visual>
    <!-- <collision>
      <origin xyz="0 0 0" rpy="-0 -0 0"/>
      <geometry>
        <mesh filename="package://bumperbot_description/meshes/rim_r.stl"/>
      </geometry>
    </collision> -->
    <!-- Part hexcoupler_r -->
    <visual>
      <origin xyz="0 0 0" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://bumperbot_description/meshes/hexcoupler_r.stl"/>
      </geometry>
      <material name="hexcoupler_r_material">
        <color rgba="1 0.870588 0.529412 1"/>
      </material>
    </visual>
    <!-- <collision>
      <origin xyz="0 0 0" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://bumperbot_description/meshes/hexcoupler_r.stl"/>
      </geometry>
    </collision> -->
  </link>
  <!-- Joint from base_link to wheel_right_link -->
  <joint name="wheel_right_joint" type="continuous">
    <origin xyz="-0 -0.087 0.0239998" rpy="0 0 0"/>
    <parent link="base_link"/>
    <child link="wheel_right_link"/>
    <axis xyz="0 1 0"/>
    <!-- <limit effort="10" velocity="10"/> -->
  </joint>

</robot>